{
  "openapi": "3.0.3",
  "info": {
    "title": "Delphi Terminal WebSocket API",
    "description": "Real-time WebSocket streaming endpoints for Delphi Terminal.",
    "version": "1.0.0",
    "contact": {
      "name": "Delphi Terminal",
      "url": "https://delphiterminal.co"
    }
  },
  "servers": [
    {
      "url": "https://api.delphiterminal.co",
      "description": "Delphi Terminal API"
    }
  ],
  "tags": [
    {
      "name": "Kalshi WebSocket",
      "description": "Real-time WebSocket streaming for Kalshi market data. Subscribe to ticker and orderbook updates using klsi_id."
    },
    {
      "name": "Polymarket WebSocket",
      "description": "Real-time WebSocket streaming for Polymarket data. Subscribe to price updates using condition_id or orderbook updates using market_id."
    },
    {
      "name": "Pfun WebSocket",
      "description": "Real-time WebSocket streaming for Pfun market data."
    },
    {
      "name": "Limitless WebSocket",
      "description": "Real-time WebSocket streaming for Limitless market data."
    }
  ],
  "paths": {
    "/ws/kalshi": {
      "get": {
        "tags": [
          "Kalshi WebSocket"
        ],
        "summary": "Kalshi Real-Time WebSocket",
        "description": "Connect to the Kalshi WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/kalshi\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Kalshi markets using their `klsi_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"klsi_ids\": [\"KXBTCD-25FEB14-B55000\", \"KXETHD-25FEB14-B3100\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| klsi_ids | array | Yes | Array of Kalshi market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"klsi_ids\": [\"KXBTCD-25FEB14-B55000\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"klsi_id\": \"KXBTCD-25FEB14-B55000\",\n  \"price\": 0.65,\n  \"yes_bid\": 0.64,\n  \"yes_ask\": 0.66,\n  \"volume\": 15000,\n  \"open_interest\": 8500,\n  \"last_update\": \"2026-02-03T14:30:00Z\"\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"klsi_id\": \"KXBTCD-25FEB14-B55000\",\n  \"bid_side\": [0, 0, 0, ..., 150, 200, 100],\n  \"ask_side\": [100, 150, 200, ..., 0, 0, 0],\n  \"last_update\": \"2026-02-03T14:30:00Z\"\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"id\": \"trade123\",\n  \"klsi_id\": \"KXBTCD-25FEB14-B55000\",\n  \"exchange\": \"klsi\",\n  \"yes_price\": 0.65,\n  \"no_price\": 0.35,\n  \"count\": 10,\n  \"taker_side\": \"buy\",\n  \"last_update\": \"2026-02-03T14:30:00Z\"\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/kalshi\n\nws.onopen = () => {\n  console.log('Connected to Kalshi WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    klsi_ids: ['KXBTCD-25FEB14-B55000'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  console.log('Received:', data);\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 512 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `klsi_id` (Kalshi market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/kalshi`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/poly": {
      "get": {
        "tags": [
          "Polymarket WebSocket"
        ],
        "summary": "Polymarket Real-Time WebSocket",
        "description": "Connect to the Polymarket WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/poly\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Polymarket data using their `condition_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"condition_ids\": [\"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| condition_ids | array | Yes | Array of Polymarket condition identifiers (hex strings starting with 0x) |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"condition_ids\": [\"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"exchange\": \"poly\",\n    \"condition_id\": \"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\",\n    \"price\": 0.992,\n    \"last_update\": \"2026-02-04T15:30:00Z\"\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"snapshot_time\": \"2026-02-04T15:30:00Z\",\n    \"exchange\": \"poly\",\n    \"market_id\": \"0x1234abcd5678efgh\",\n    \"condition_id\": \"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\",\n    \"bid_side\": [0.55, 0.54, 0.53, 0.52, 0.51],\n    \"ask_side\": [0.56, 0.57, 0.58, 0.59, 0.60],\n    \"original_last_update\": \"2026-02-04T15:29:59Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"exchange\": \"poly\",\n    \"condition_id\": \"0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707\",\n    \"token_id\": \"0x123...\",\n    \"market_id\": \"0xabc...\",\n    \"price\": 0.65,\n    \"size\": 100.5,\n    \"side\": \"buy\",\n    \"last_update\": \"2026-02-04T15:30:00Z\"\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/poly\n\nws.onopen = () => {\n  console.log('Connected to Polymarket WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    condition_ids: ['0x00000977017fa72fb6b1908ae694000d3b51f442c2552656b10bdbbfd16ff707'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'prices') {\n    console.log('Price update:', data.data);\n  } else if (data.type === 'orderbook') {\n    console.log('Orderbook update:', data.data);\n  } else if (data.type === 'trades') {\n    console.log('Trade:', data.data);\n  }\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 512 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `condition_id` (Polymarket condition identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n- Orderbook updates are high-frequency - consider filtering client-side if needed\n\n## Example\n\n- Request: `GET /ws/poly`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/pfun": {
      "get": {
        "tags": [
          "Pfun WebSocket"
        ],
        "summary": "Pfun Real-Time WebSocket",
        "description": "Connect to the Pfun WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/pfun\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Pfun data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"market123\", \"market456\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Pfun market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"market123\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"exchange\": \"pfun\",\n    \"market_id\": \"market123\",\n    \"price\": 0.65,\n    \"yes_bid\": 0.64,\n    \"yes_ask\": 0.66,\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"pfun\",\n    \"market_id\": \"market123\",\n    \"venue_market_id\": \"venue123\",\n    \"best_yes_price\": 65,\n    \"best_yes_size\": 100,\n    \"best_no_price\": 35,\n    \"best_no_size\": 50,\n    \"yes_side\": [100, 200, 300],\n    \"no_side\": [50, 100, 150],\n    \"server_time\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"exchange\": \"pfun\",\n    \"market_id\": \"market123\",\n    \"yes_price\": 0.65,\n    \"no_price\": 0.35,\n    \"count\": 10,\n    \"taker_side\": \"buy\",\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/pfun\n\nws.onopen = () => {\n  console.log('Connected to Pfun WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['market123'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'prices') {\n    console.log('Price update:', data.data);\n  } else if (data.type === 'orderbook') {\n    console.log('Orderbook update:', data.data);\n  } else if (data.type === 'trades') {\n    console.log('Trade:', data.data);\n  }\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `market_id` (Pfun market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/pfun`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    },
    "/ws/limitless": {
      "get": {
        "tags": [
          "Limitless WebSocket"
        ],
        "summary": "Limitless Real-Time WebSocket",
        "description": "Connect to the Limitless WebSocket for real-time price, orderbook, and trade updates.\n\n---\n\nConnection:\n\nConnect to the WebSocket endpoint:\n\nConnect to: wss://api.delphiterminal.co/ws/limitless\n\n---\n\nSubscribing to Markets:\n\nOnce connected, send a JSON message to subscribe to Limitless data using their `market_id`:\n\n{\n  \"action\": \"subscribe\",\n  \"market_ids\": [\"market123\", \"market456\"],\n  \"message_types\": [\"prices\", \"orderbook\", \"trades\"]\n}\n\nSubscription Fields:\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| action | string | Yes | `subscribe` or `unsubscribe` |\n| market_ids | array | Yes | Array of Limitless market identifiers |\n| message_types | array | No | `[\"prices\"]`, `[\"orderbook\"]`, `[\"trades\"]`, or any combination. Defaults to prices and orderbook if omitted |\n\n---\n\nUnsubscribing:\n\n{\n  \"action\": \"unsubscribe\",\n  \"market_ids\": [\"market123\"]\n}\n\n---\n\nMessage Types:\n\nPrice Messages:\n\nReal-time price updates for subscribed markets:\n\n{\n  \"type\": \"prices\",\n  \"data\": {\n    \"exchange\": \"limitless\",\n    \"market_id\": \"market123\",\n    \"price\": 0.65,\n    \"yes_bid\": 0.64,\n    \"yes_ask\": 0.66,\n    \"volume\": 15000,\n    \"open_interest\": 8500,\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nOrderbook Messages:\n\nReal-time orderbook snapshots for subscribed markets:\n\n{\n  \"type\": \"orderbook\",\n  \"data\": {\n    \"exchange\": \"limitless\",\n    \"token_id\": \"token123\",\n    \"market_id\": \"market123\",\n    \"bid_side\": [0.55, 0.54, 0.53, 0.52, 0.51],\n    \"ask_side\": [0.56, 0.57, 0.58, 0.59, 0.60],\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\nTrade Messages:\n\nReal-time trade executions for subscribed markets:\n\n{\n  \"type\": \"trades\",\n  \"data\": {\n    \"exchange\": \"limitless\",\n    \"market_id\": \"market123\",\n    \"yes_price\": 0.65,\n    \"no_price\": 0.35,\n    \"count\": 10,\n    \"taker_side\": \"buy\",\n    \"last_update\": \"2026-02-06T12:00:00Z\"\n  }\n}\n\n---\n\nFull JavaScript Example:\n\nConnect to: wss://api.delphiterminal.co/ws/limitless\n\nws.onopen = () => {\n  console.log('Connected to Limitless WebSocket\n  \n  // Subscribe to markets\n  ws.send(JSON.stringify({\n    action: 'subscribe',\n    market_ids: ['market123'],\n    message_types: ['prices', 'orderbook', 'trades']\n  }));\n};\n\nws.onmessage = (event) => {\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'prices') {\n    console.log('Price update:', data.data);\n  } else if (data.type === 'orderbook') {\n    console.log('Orderbook update:', data.data);\n  } else if (data.type === 'trades') {\n    console.log('Trade:', data.data);\n  }\n};\n\nws.onclose = () => {\n  console.log('Disconnected from WebSocket\n};\n\nws.onerror = (error) => {\n  console.error('WebSocket error:', error);\n};\n\n---\n\nConnection Details:\n\n| Property | Value |\n|----------|-------|\n| Protocol | WebSocket (wss://) |\n| Keepalive | Ping every 54 seconds |\n| Timeout | 60 seconds without pong |\n| Max Message Size | 16 KB |\n\n---\n\nNotes:\n\n- **No authentication required** for WebSocket connection\n- You must use `market_id` (Limitless market identifier) to subscribe\n- Messages are only sent for markets you have explicitly subscribed to\n- Multiple markets can be subscribed in a single message\n- Subscribe to specific message types to reduce message volume\n- Trades must be explicitly requested (not included in default subscription)\n\n## Example\n\n- Request: `GET /ws/limitless`\n- Header: `X-API-Key: YOUR_API_KEY`",
        "security": [],
        "responses": {
          "101": {
            "description": "WebSocket connection upgraded successfully"
          }
        }
      }
    }
  }
}
